In [1]:
import pandas as pd

In [2]:
df_classifier_test = pd.read_csv('data/submissions/classifier_test.csv').fillna('')

In [3]:
df_classifier_test.head()

   ImageId_ClassId EncodedPixels
0  004f40c73.jpg_1
1  004f40c73.jpg_2
2  004f40c73.jpg_3
3  004f40c73.jpg_4
4  006f39c41.jpg_1

In [5]:
df_segmentation_test = pd.read_csv('data/submissions/segmentation_test.csv').fillna('')

In [6]:
df_segmentation_test.head()

   ImageId_ClassId EncodedPixels
0  004f40c73.jpg_1
1  004f40c73.jpg_2
2  004f40c73.jpg_3
3  004f40c73.jpg_4
4  006f39c41.jpg_1

In [7]:
df_train = pd.read_csv('data/train.csv').fillna('')

In [8]:
df_train.head()

   ImageId_ClassId                                      EncodedPixels
0  0002cc93b.jpg_1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1  0002cc93b.jpg_2
2  0002cc93b.jpg_3
3  0002cc93b.jpg_4
4  00031f466.jpg_1

In [9]:
df_pseudo_train = df_train.append(df_segmentation_test, ignore_index=True)

In [10]:
df_pseudo_train.head()

   ImageId_ClassId                                      EncodedPixels
0  0002cc93b.jpg_1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1  0002cc93b.jpg_2
2  0002cc93b.jpg_3
3  0002cc93b.jpg_4
4  00031f466.jpg_1

In [20]:
lens = [len(df_pseudo_train), len(df_train), len(df_segmentation_test)]
lens

[57476, 50272, 7204]

In [39]:
df_pseudo_train.to_csv('data/train_pseudo.csv', index=False)