In [1]:
import pandas as pd

In [2]:
df_classifier_test = pd.read_csv('data/submissions/classifier_test.csv').fillna('')

In [3]:
df_classifier_test.head()

   ImageId_ClassId EncodedPixels
0  004f40c73.jpg_1
1  004f40c73.jpg_2
2  004f40c73.jpg_3
3  004f40c73.jpg_4
4  006f39c41.jpg_1

In [4]:
df_classifier_test_confidence = pd.read_csv('data/classifier_test_confidence.csv').fillna('')

In [5]:
df_classifier_test_confidence.head()

  ImageId_ClassId  Confidence
0   004f40c73.jpg    0.016510
1   006f39c41.jpg    0.045337
2   00b7fb703.jpg    0.176907
3   00bbcd9af.jpg    0.001386
4   0108ce457.jpg    0.277736

In [36]:
print(len(df_classifier_test_confidence[df_classifier_test_confidence.Confidence<0.05]))
print(len(df_classifier_test_confidence[df_classifier_test_confidence.Confidence>0.8]))

1404
196

In [39]:
df_classifier_confident = df_classifier_test_confidence[(df_classifier_test_confidence.Confidence<0.05) | 
                                                        (df_classifier_test_confidence.Confidence>0.8)]

In [43]:
df_classifier_confident = df_classifier_confident.reset_index(drop=True)

In [44]:
df_classifier_confident.to_csv('data/confident_classification.csv', index=False)

In [18]:
#df_segmentation_test_confidence = pd.read_csv('data/segmentation_test_confidence.csv').fillna('')

In [19]:
#df_segmentation_test_confidence.head()

In [20]:
df_segmentation_test = pd.read_csv('data/submissions/segmentation_test.csv').fillna('')

In [21]:
df_segmentation_test.head()

   ImageId_ClassId EncodedPixels
0  004f40c73.jpg_1
1  004f40c73.jpg_2
2  004f40c73.jpg_3
3  004f40c73.jpg_4
4  006f39c41.jpg_1

In [8]:
df_train = pd.read_csv('data/train.csv').fillna('')

In [9]:
df_train.head()

   ImageId_ClassId                                      EncodedPixels
0  0002cc93b.jpg_1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1  0002cc93b.jpg_2
2  0002cc93b.jpg_3
3  0002cc93b.jpg_4
4  00031f466.jpg_1

In [10]:
df_pseudo_train = df_train.append(df_segmentation_test, ignore_index=True)

In [11]:
df_pseudo_train.head()

   ImageId_ClassId                                      EncodedPixels
0  0002cc93b.jpg_1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1  0002cc93b.jpg_2
2  0002cc93b.jpg_3
3  0002cc93b.jpg_4
4  00031f466.jpg_1

In [12]:
len(df_pseudo_train), len(df_train), len(df_segmentation_test)

(57476, 50272, 7204)

In [13]:
df_pseudo_train.to_csv('data/train_pseudo.csv', index=False)